In [1]:
import pandas as pd

In [2]:
original_training = pd.read_csv('./ad_datasir.csv')
original_training.head()

,brand,new,black,saphire,auto,revesre,camera,beige,interior,softly,...,special,mathematical,better,understanding,subject,practice,makes,arrange,visits,class
0,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
x = original_training.copy()
del x['class']
x.head()

,brand,new,black,saphire,auto,revesre,camera,beige,interior,softly,...,coverage,special,mathematical,better,understanding,subject,practice,makes,arrange,visits
0,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
y = []
for data in original_training['class'] :
    y.append(data)

In [6]:
from sklearn.naive_bayes import MultinomialNB

In [7]:
clf = MultinomialNB()
clf.fit(x,y)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [8]:
test_data = pd.read_csv('./ad_data_test.csv')
test_data.head()

,brand,new,black,saphire,auto,revesre,camera,beige,interior,softly,...,special,mathematical,better,understanding,subject,practice,makes,arrange,visits,class
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2

In [9]:
x_test = test_data.copy()
del x_test['class']
x_test.head()

,brand,new,black,saphire,auto,revesre,camera,beige,interior,softly,...,coverage,special,mathematical,better,understanding,subject,practice,makes,arrange,visits
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
clf.predict(x_test)

array([0, 0, 1, 1, 2, 1, 3, 3], dtype=int64)

In [ ]:
-